<nav aria-label="Page navigation">
  <ul class="pagination">
    <li [ngClass]="{ 'disabled': currentPage <= 1 }">
      <a *ngIf="currentPage > 1" (click)="pageClicked($event, currentPage - 1)" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
      <span *ngIf="currentPage <= 1"><span aria-hidden="true">&laquo;</span></span>
    </li>
    <li *ngFor="let page of pages" [ngClass]="{ 'active': currentPage === page }">
      <a *ngIf="currentPage !== page" (click)="pageClicked($event, page)" href="#">{{ page }}</a>
      <span *ngIf="currentPage === page">{{ page }}</span>
    </li>
    <li [ngClass]="{ 'disabled': currentPage >= totalPages }">
      <a *ngIf="currentPage < totalPages" (click)="pageClicked($event, currentPage + 1)" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
      <span *ngIf="currentPage >= totalPages"><span aria-hidden="true">&raquo;</span></span>
    </li>
  </ul>
</nav>
